

<h1>Welcome</h1>

<div class="play-container">
    <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times.</p>
    <!-- Example of one-way angular event binding. We wrap the name of the event `click` within html element -->
    <!-- {{ stuff in here }} displays a property defined from the component (home.component.ts) itself  -->
</div>

<div class="play-container">
   <input type="text" [(ngModel)]="name">
<br>
    <strong>You said</strong> {{ name }}
</div>
<!-- This is two-way event binding -->
<!-- We have to edit our app.module.ts -->


<div class="play-container">
<ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
<!-- If condition met, anything posted here will be displayed -->
<p>The click counter is greater than 4.</p>
</ng-template>

<ng-template #none>
    <!-- If not true, this will happen. -->
<p>The click counter is NOT greater than 4.</p>
</ng-template>
 </div>

 <!-- This uses ngTemplate to allow conditional statements -->